/node_modules
/public/hot
/public/storage
!/public/storage/users/*
/storage/*.key
/vendor
/.idea
/.vagrant
/web
ssh.pub
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
.env
report
clover.xml
